@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;500;700&family=Nunito:wght@700&family=Roboto:wght@100;400&family=Titillium+Web:wght@200;400;700&display=swap');

:root {
    --header-bg-color:rgba(0, 0, 0, .9);
    --text-color:#ffffff;
    --bg-color:#000;
    --bg-button-hover: #f13232;
    --bg-form-product:rgb(10,10,10);
    --shadow-card: rgba(238, 231, 231, 0.19) 0px 10px 20px, rgba(241, 227, 227, 0.23) 0px 6px 6px;
    --logo-footer: url('../img/Logo_02.png');
    --bg-color-label: #ffffff;
    --text-color-label:#000;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* * {
    outline: 1px solid red;
} */

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
font-family: 'Titillium Web', sans-serif;
font-size: 16px;
font-weight: 400;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Форма заказа */
.form__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.9);
  z-index: 110;
  display: none;
}

.form__product {
  text-align: center;
  display: none;
  width: 500px;
  opacity: 0;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-form-product);
  padding: 40px;
  z-index: 100;
  box-shadow: rgba(253, 253, 253, 0.12) 0px 2px 4px 0px, rgba(215, 219, 221, 0.32) 0px 2px 16px 0px;
  color: var(--text-color);
  transition:opacity .5s linear;
  transition: top .7s;

}

.form__product.show, .form__overlay.show {
  display: block;
}

.form__button-group {
display: flex;
gap: 10px;
justify-content: space-between;

}
.form__button {
  flex: 1;
  max-width: 150px;
  font-weight: 400;
  font-size: 17px;
  color: #111111;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: auto;
  border: none;
}

.form__button:hover {
  background-color: #f13232;
  color: #fff;
}



.input__group {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.choose__color {
margin-top: 10px;
margin-bottom: 20px;
}

.count_products {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


input[type = number] {
padding: 10px;
max-width: 60px;
font-size: 16px;
}

.textarea__comment {
  max-width: 100%;
  margin: 20px 0;
  resize: none;
}



.check__color {
  padding: 5px;
  width: 15px;
  height: 15px;
  outline: none;
  position: relative;
}


.check__color::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  top: 0;
  left: 0;

}

.custom__radio {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #018ddf;
  border-radius: 50%;
  --bg-round: #000;
  --text-content: 'Red'
  
}
.custom__radio.checked::before {
  position: absolute;
  content: '';
  top: -20px;
  left: -5px;
}
.custom__radio.checked::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-color: var(--bg-round);
  border-radius: 50%;
  
}

.chosen__color-area {
  display: block;
  border: 1px solid #fff;
  width: 60px;
  height: 30px;
  background-color: #c9c7c7;
  margin: 0 auto;
}

  /* Сообщение о покупке*/
.success__message {
  max-width: 400px;
  color: #fdfaf9;
  position: absolute;
  top: -100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  box-shadow: rgba(253, 253, 253, 0.12) 0px 2px 4px 0px, rgba(215, 219, 221, 0.32) 0px 2px 16px 0px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, .9);
  transition: top .7s;
}

/* Иконка, заказ принят */

.success__message-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: greenyellow;
  display:block;
  border-radius: 50%;
  position: relative;
}

.success__message-icon::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 15px;
  top: 24px;
  transform: rotate(-50deg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.success__message-icon::before {
  content: '';
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 6px;
  top: 30px;
  transform: rotate(45deg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.success__message.show-message {
  top: 50%;
}

/* ---------------------------------------- */

/* Шапка сайта */
.header {
    position: fixed;
    height: 60px;
    width: 100%;
    top:0;
    left: 0;
    z-index: 50;
    background-color: var(--header-bg-color)
  
  }

  .header__nav-burger {
    display: none;
  }

  .header>.container {
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
  }

/* Меню в шапке сайта */

  .nav__menu {
    display:flex;
    flex:2;
    align-items: center;
    justify-content: space-between;
  }

  .nav__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    list-style: none;
    color: #ffffff;
  }

  .nav__menu-list a {
    color: #ffffff;
    transition: all .5s;
  }

  .nav__menu-list a:hover {
    text-shadow: 1px 1px #ffffff;
  }

  .nav__menu-link.active {
    border-bottom:1px solid #ccc;
  }

  /* ------------------------------- */
 
/* Переключатель темы */
 .switch__theme {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #bfbfbf;
  border-radius: 20px;
  transition: .5s;
  cursor: pointer;
 }
 .switch__theme:focus {
  background-color: #ffffff;
 }

 .switch__theme:active {
  background-color: #ffffff;
 }

 .switch__theme::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  top: 1.5px;
  left: 1px;
  background-color: #000000;
  border-radius: 50%;
  transition: .5s;
 }

 .switch__theme.swith_on {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #fbff00;
  border-radius: 20px;
 }

 .switch__theme.swith_on::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  top: 1.5px;
  left: 22px;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 50%;
 }

 /* --------------------------------- */



  .container {
    max-width: 1280px;
    margin:0 auto;
    padding: 0 10px;
    
  }
  


.hero__title {
    position: absolute;
    max-width: 1200px;
    z-index: 1;
    top: 10%;
    left: 10%;
    
}

.hero__title img {
    width: 100%;
}

.hero__product {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.hero__product img {
    width: 100%;
    z-index: 50;
}

.hero__product h1 {
    color: #ffffff;
    max-width: 400px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/* Категории */
.for__men, 
.for__women, 
.for__kids {
    background-color: var(--bg-color);
    padding-top: 50px;
}

.for__men h2, 
.for__women h2, 
.for__kids h2 {
    margin-bottom: 20px;
    color:transparent;
    stroke: 1px var(--text-color);
    font-size: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
    text-transform: uppercase;
    text-align: center;
}

/* -------------------------------------- */

/* Карточки товаров */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 100%;
    justify-content: center;
    justify-items: center;
    column-gap: 30px; 
    row-gap: 40px; 
    margin: 0 auto;
  }
  
.card {
    width: 235px;
    box-shadow: var(--shadow-card);
    display: flex;
    flex-direction: column; 
    border-radius: 4px;
    transition: 0.2s;
    position: relative;

    
  }
  

  .card:hover {
    box-shadow: 4px 8px 16px rgba(146, 142, 140, 0.2);
  }
  
  .card__top {
    flex: 0 0 220px;
    position: relative;
    overflow: hidden; 
  }
  
  .card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
  }
  

  .card__image:hover > img {
    transform: scale(1.1);
  }
  
  .card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: var(--bg-color-label);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-label);
  }
  
  .card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
  }
  

  .card__info {
    margin-bottom: 10px;
  }

  .card__date-add-info {
    color: #ccc;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  
  .card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    color: var(--text-color);
  }
  
  .card__title:hover {
    color: var(--text-color);
  }
  
  .card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #111111;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
    border: none;
  }
  
  .card__add:hover {
    background-color: #f13232;
    color: #fff;
  }

  /* ------------------------------------------ */

/* Футер страницы */
.footer {
    padding: 60px 0 20px 0;
    background-color: var(--bg-color);
    background-size: cover;
    background-position: center;
}



.footer__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__logo {
  /* padding: 10px; */
  width: 240px;
  height: 126px;
  background-image: var(--logo-footer);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__list {
    list-style: none;
}

.footer__list a {
    color: var(--text-color);
    transition: all .5s;
}

.footer__list a:hover {
    text-shadow: 1px 1px var(--text-color);
}

/* ------------------------------------------- */


/* Кнопка скролла в топ страницы */
.btn-up {
    position: fixed;
    background-color: #fdef29;
    right: 20px;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    z-index: 100;
  }
  
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
    display: none;
  }

  
  .btn-up:hover {
      background-color: #cee64a;
    }
  

  /* ------------------------------------------- */
  


  body.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }


  @media (max-width:550px) {

    .form__product {
      width: 90%;
    }
    .header__logo {
        width: 50px;
    }
    .hero__product {
        flex-direction: column;
    }
    .hero__product h1 {
        font-size: 38px;
    }

    .for__men h2, 
    .for__women h2, 
    .for__kids h2 {
        font-size: 30px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 125px);
        width: 100%;
        max-width: 100%;
        justify-content: center;
        justify-items: center;
        column-gap: 30px; 
        row-gap: 40px; 
        margin: 0 auto;
      }
      
    .card {
        width: 135px;
        /* min-height: 350px; */
        box-shadow: var(--shadow-card);
        display: flex;
        flex-direction: column; 
        border-radius: 4px;
        transition: 0.2s;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        
      }

      .card__top {
        flex: 0 0 120px;
        position: relative;
        overflow: hidden; 
      }
      
      .card__image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
       
      .card__label {
        padding: 2px 3px;
        bottom: 2px;
        left: 2px;
        font-weight: 200;
        font-size: 12px;
      }
      
      .card__bottom {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        padding: 10px;
      }
      
      .card__title {
        font-size: 14px;
        text-align: center;
      }
      
      .card__title:hover {
        color: var(--text-color);
      }
      
      .card__add {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 17px;
        color: #111111;
        padding: 10px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.2s;
        margin-top: auto;
        border: none;
      }
      
      .card__add:hover {
        background-color: #f13232;
        color: #fff;
      }

      .card__date-add-info {
        font-size: 12px;
      }
    .header__nav-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 3;
        
    }

    .header__nav-burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease;
        
    }

    .header__nav-burger::before,
    .header__nav-burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease;
    }

    .header__nav-burger::before{
        top:0;
    }

    .header__nav-burger::after{
        bottom:0;
    }

    .header__nav-burger.open span {
        transform: scale(0);
      }
      
      .header__nav-burger.open::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      
      .header__nav-burger.open::before {
        transform: rotate(45deg);
        top:9px;
      }

    .nav__menu-list {
        display: block;
        position: absolute;
        top:-100vh;
        transition: all .5s;
        padding: 30px;
        font-size: 20px;
    }

    .nav__menu-list::after {
        z-index: -10;
        position: absolute;
        content: '';
        left: -10px;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--header-bg-color);
    }

    .nav__menu-list.open {
        display: block;
        position: absolute;
        top:48px;
    }
  }

  @media (max-width:400px) {

    .input__group {
      display: flex;
      gap: 2px;
      align-items: start;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .for__men, 
    .for__women, 
    .for__kids {
    background-color: var(--bg-color);
    padding-top: 50px;
}
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 125px);
      width: 100%;
      max-width: 100%;
      justify-content: center;
      justify-items: center;
      column-gap: 30px; 
      row-gap: 40px; 
      margin: 0 auto;
    }
    
  .card {
      width: 150px;
      box-shadow: var(--shadow-card);
      display: flex;
      flex-direction: column; 
      border-radius: 4px;
      transition: 0.2s;
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      
    }
  }


  